@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn&display=swap');

$base_color1: rgb(253, 102, 2);
$font1: 'Open Sans', sans-serif;
$font2: 'Vollkorn', serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font1;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media-md {
  @media (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 901px) {
    @content;
  }
}

@mixin section-bg {
  background: url('../images/section_bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include media-md {
    background: url('../images/section_bg4.jpg');
    background-size: cover;
    background-position: right;
  }
}
