@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hide {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: rgba(250, 250, 250, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 99;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

nav ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}

nav ul li:hover {
  color: #ff5e00;
}

i.fa-bars, i.fa-times {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 2rem;
}

i.fa-times {
  font-size: 1.8rem;
  color: #ff5e00;
  z-index: 99;
}

#content {
  height: 100vh;
}

section#home-page {
  background: url("../images/section_bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  padding: 25px;
}

section#home-page h1 {
  position: absolute;
  top: 20%;
  font-size: 2.8rem;
  color: #ff5e00;
  font-family: "Vollkorn", serif;
}

section#home-page p#welcome {
  position: absolute;
  top: 30%;
  font-size: 1.2rem;
  font-style: italic;
  width: 90%;
}

section#menu-section #selection select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

section#menu-section #selection select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
/*# sourceMappingURL=style.css.map */