@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hide {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: rgba(250, 250, 250, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 99;
  visibility: hidden;
}

@media (min-width: 600px) and (max-width: 900) {
  nav {
    visibility: visible;
    height: 50px;
  }
}

@media (min-width: 901px) {
  nav {
    visibility: visible;
    height: 50px;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

@media (min-width: 600px) and (max-width: 900) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 901px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 100px;
  }
}

nav ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}

nav ul li:hover {
  color: #ff5e00;
  cursor: pointer;
}

i.fa-bars, i.fa-times {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 2rem;
}

@media (min-width: 600px) and (max-width: 900) {
  i.fa-bars, i.fa-times {
    display: none;
  }
}

@media (min-width: 901px) {
  i.fa-bars, i.fa-times {
    display: none;
  }
}

i.fa-times {
  font-size: 1.8rem;
  color: #ff5e00;
  z-index: 99;
}

@media (min-width: 600px) and (max-width: 900) {
  i.fa-times {
    display: none;
  }
}

@media (min-width: 901px) {
  i.fa-times {
    display: none;
  }
}

#content {
  height: 100vh;
  background: url("../images/section_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
}

@media (min-width: 600px) and (max-width: 900) {
  #content {
    background: url("../images/section_bg4.jpg");
    background-size: cover;
    background-position: right;
  }
}

@media (min-width: 901px) {
  #content {
    background: url("../images/section_bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

section#home-page {
  background: url("../images/section_bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  padding: 25px;
}

@media (min-width: 901px) {
  section#home-page {
    background: url("../images/section_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

section#home-page h1 {
  position: absolute;
  top: 20%;
  font-size: 2.8rem;
  color: #ff5e00;
  font-family: "Vollkorn", serif;
}

@media (min-width: 600px) and (max-width: 900) {
  section#home-page h1 {
    font-size: 4rem;
  }
}

@media (min-width: 901px) {
  section#home-page h1 {
    font-size: 6rem;
  }
}

section#home-page p#welcome {
  position: absolute;
  top: 30%;
  font-size: 1.2rem;
  font-style: italic;
  width: 90%;
}

@media (min-width: 600px) and (max-width: 900) {
  section#home-page p#welcome {
    font-size: 1.6rem;
  }
}

@media (min-width: 901px) {
  section#home-page p#welcome {
    font-size: 2rem;
    width: 45%;
    top: 35%;
  }
}

section#menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}

section#menu-section h2 {
  font-size: 2.2rem;
  font-family: "Vollkorn", serif;
  font-weight: normal;
}

section#menu-section #selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

section#menu-section #selection select {
  background-color: white;
  border: thin solid #ff5e00;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #ff5e00, #ff5e00);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

section#menu-section #selection select:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

section#menu-section #menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-top: 50px;
}

@media (min-width: 600px) and (max-width: 900) {
  section#menu-section #menu-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  section#menu-section #menu-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    position: absolute;
    right: 1%;
    top: 25%;
  }
}

section#menu-section #menu-items .meals {
  width: 280px;
  height: 280px;
  position: relative;
  border-radius: 20px;
}

section#menu-section #menu-items .meals .blur-div {
  visibility: hidden;
}

section#menu-section #menu-items .meals .meal-name {
  visibility: hidden;
  font-size: 1.8rem;
}

section#menu-section #menu-items .meals .rating {
  visibility: hidden;
}

section#menu-section #menu-items .meals:hover .meal-name {
  visibility: visible;
  position: absolute;
  z-index: 99;
  top: 10%;
  width: 100%;
  padding: 0 3px;
  text-align: center;
}

section#menu-section #menu-items .meals:hover .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  visibility: visible;
  width: 100%;
  margin: 0 auto 1em;
  font-size: 35px;
  overflow: hidden;
  float: right;
  position: absolute;
  top: 50%;
  z-index: 99;
}

section#menu-section #menu-items .meals:hover .rating a[href*="intent"] {
  display: inline-block;
  margin-top: 0.4em;
}

section#menu-section #menu-items .meals:hover .rating a {
  float: right;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

section#menu-section #menu-items .meals:hover .rating a:hover,
section#menu-section #menu-items .meals:hover .rating a:focus,
section#menu-section #menu-items .meals:hover .rating a:hover ~ a,
section#menu-section #menu-items .meals:hover .rating a:focus ~ a {
  color: #fdec00;
  cursor: pointer;
}

section#menu-section #menu-items .meals:hover .blur-div {
  visibility: visible;
  position: absolute;
  top: 0;
  background: rgba(175, 168, 157, 0.8);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

section#contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 80px;
  padding: 100px 0 50px 0;
}

section#contact-page h2 {
  font-family: "Vollkorn", serif;
  font-size: 2.2rem;
  font-weight: normal;
}

@media (min-width: 901px) {
  section#contact-page h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

section#contact-page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#contact-page li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

@media (min-width: 901px) {
  section#contact-page li {
    font-size: 1.5rem;
  }
}

section#contact-page li span {
  color: #ff5e00;
  font-weight: 700;
  text-decoration: underline;
}

section#contact-page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

section#contact-page input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: thin solid #ff5e00;
  margin: 30px 0;
  width: 70%;
}

@media (min-width: 600px) and (max-width: 900) {
  section#contact-page input {
    width: 50%;
  }
}

@media (min-width: 901px) {
  section#contact-page input {
    width: 20%;
    font-size: 1.2rem;
  }
}

section#contact-page button {
  border: none;
  background: #ff5e00;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 901px) {
  section#contact-page button {
    font-size: 1.2rem;
  }
}

section#contact-page button:hover {
  cursor: pointer;
  background: #e6b892;
  outline: none;
}

section#contact-page footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: thin solid #858484;
  width: 100%;
  padding-top: 15px;
}

section#contact-page #slogan h2 {
  color: #ff5e00;
  font-size: 2.6rem;
}

@media (min-width: 901px) {
  section#contact-page #slogan h2 {
    font-size: 3.5rem;
  }
}

section#contact-page #slogan p {
  font-style: italic;
}

@media (min-width: 901px) {
  section#contact-page #slogan p {
    font-size: 1.5rem;
    margin-bottom: 100px;
  }
}

section#contact-page ul#social-icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  padding-top: 20px;
}

@media (min-width: 600px) and (max-width: 900) {
  section#contact-page ul#social-icons {
    width: 30%;
  }
}

@media (min-width: 901px) {
  section#contact-page ul#social-icons {
    width: 20%;
  }
}

section#contact-page ul#social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: thin solid #ff5e00;
  width: 40px;
  height: 40px;
}

section#contact-page ul#social-icons li i {
  color: #ff5e00;
}

section#contact-page ul#social-icons li i:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */