@import 'base';

.hide {
  display: none;
}

nav {
  @include center;

  position: absolute;
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 99;
  visibility: hidden;

  @include media-md {
    visibility: visible;
    height: 50px;
  }

  @include media-lg {
    visibility: visible;
    height: 50px;
  }


  ul {
    @include center;

    flex-direction: column;
    gap: 50px;

    @include media-md {
      flex-direction: row;
    }

    @include media-lg {
      flex-direction: row;
      gap: 100px;
    }

    li {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 600;

      &:hover {
        color: $base_color1;
        cursor: pointer;
      }
    }
  }
}

i.fa-bars {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 2rem;

  @include media-md {
    display: none;
  }

  @include media-lg {
    display: none;
  }
}

i.fa-times {
  @extend .fa-bars;

  font-size: 1.8rem;
  color: $base_color1;
  z-index: 99;

  @include media-md {
    display: none;
  }

  @include media-lg {
    display: none;
  }
}

#content {
  height: 100vh;

  @include section-bg;

  overflow: scroll;
}

section#home-page {
  background: url('../images/section_bg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  padding: 25px;

  @include media-lg {
    background: url('../images/section_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    position: absolute;
    top: 20%;
    font-size: 2.8rem;
    color: $base_color1;
    font-family: $font2;

    @include media-md {
      font-size: 4rem;
    }

    @include media-lg {
      font-size: 6rem;
    }
  }

  p#welcome {
    position: absolute;
    top: 30%;
    font-size: 1.2rem;
    font-style: italic;
    width: 90%;

    @include media-md {
      font-size: 1.6rem;
    }

    @include media-lg {
      font-size: 2rem;
      width: 45%;
      top: 35%;
    }
  }
}

section#menu-section {
  @include center;

  flex-direction: column;
  padding: 100px 0;

  h2 {
    font-size: 2.2rem;
    font-family: $font2;
    font-weight: normal;
  }

  #selection {
    @include center;

    flex-direction: column;
    margin-top: 50px;

    select {
      background-color: white;
      border: thin solid $base_color1;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%),
        linear-gradient(135deg, #fff 50%, transparent 50%),
        linear-gradient(to right, $base_color1, $base_color1);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
    }

    select:focus {
      background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, gray, gray);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
      border-color: grey;
      outline: 0;
    }
  }

  #menu-items {
    @include center;

    flex-direction: column;
    gap: 25px;
    margin-top: 50px;

    @include media-md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .meals {
      width: 280px;
      height: 280px;
      position: relative;
      border-radius: 20px;

      .blur-div {
        visibility: hidden;
      }

      .meal-name {
        visibility: hidden;
        font-size: 1.8rem;
      }

      .rating {
        visibility: hidden;
      }

      &:hover {
        .meal-name {
          visibility: visible;
          position: absolute;
          z-index: 99;
          top: 10%;
          width: 100%;
          padding: 0 3px;
          text-align: center;
        }

        .rating {
          @include center;

          flex-direction: row-reverse;
          visibility: visible;
          width: 100%;
          margin: 0 auto 1em;
          font-size: 35px;
          overflow: hidden;
          float: right;
          position: absolute;
          top: 50%;
          z-index: 99;

          a[href*="intent"] {
            display: inline-block;
            margin-top: 0.4em;
          }

          a {
            float: right;
            color: #fff;
            text-decoration: none;
            -webkit-transition: color 0.4s;
            -moz-transition: color 0.4s;
            -o-transition: color 0.4s;
            transition: color 0.4s;
          }

          a:hover,
          a:focus,
          a:hover ~ a,
          a:focus ~ a {
            color: rgb(253, 236, 0);
            cursor: pointer;
          }
        }

        .blur-div {
          visibility: visible;
          position: absolute;
          top: 0;
          background: rgba(230, 184, 146, 0.8);
          height: 100%;
          width: 100%;
          border-radius: 20px;
        }
      }
    }
  }
}

section#contact-page {
  @include center;

  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  padding: 100px 0 50px 0;

  h2 {
    font-family: $font2;
    font-size: 2.2rem;
    font-weight: normal;
  }

  ul {
    @include center;

    flex-direction: column;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2rem;

    span {
      color: $base_color1;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  div {
    @include center;

    flex-direction: column;
    width: 100%;
  }

  input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: thin solid $base_color1;
    margin: 30px 0;
    width: 70%;

    @include media-md {
      width: 50%;
    }
  }

  button {
    border: none;
    background: $base_color1;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;

    &:hover {
      cursor: pointer;
      background: rgb(230, 184, 146);
    }
  }

  footer {
    @include center;

    flex-direction: column;
    border-top: thin solid rgb(133, 132, 132);
    width: 100%;
    padding-top: 15px;
  }

  #slogan {
    h2 {
      color: $base_color1;
      font-size: 2.6rem;
    }

    p {
      font-style: italic;
    }
  }

  ul#social-icons {
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding-top: 20px;

    @include media-md {
      width: 30%;
    }

    li {
      @include center;

      border-radius: 50%;
      border: thin solid $base_color1;
      width: 40px;
      height: 40px;

      i {
        color: $base_color1;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
