@import 'base';

nav {
  @include center;

  position: absolute;
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  padding: 20px;
  z-index: 99;

  ul {
    @include center;

    flex-direction: column;
    gap: 50px;

    li {
      list-style: none;
      font-size: 1.4rem;
      font-weight: 600;

      &:hover {
        color: $base_color1;
      }
    }
  }
}

i.fa-bars {
  position: absolute;
  top: 3%;
  right: 6%;
  font-size: 2rem;
}

i.fa-times {
  @extend .fa-bars;

  font-size: 1.8rem;
  color: $base_color1;
  z-index: 99;
}

#content {
  height: 100vh;
}

section#home-page {
  background: url('../images/section_bg5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  padding: 25px;

  h1 {
    position: absolute;
    top: 20%;
    font-size: 2.8rem;
    color: $base_color1;
    font-family: $font2;
  }

  p#welcome {
    position: absolute;
    top: 30%;
    font-size: 1.2rem;
    font-style: italic;
    width: 90%;
  }
}

.hide {
  display: none;
}
